body {
  background-color: #ff3860;
  font-family: "Nunito", sans-serif;
}

.color {
  color: white !important;
}

.ins {
  border-radius: 20px;
}

.logo {
  width: 30%;
  margin: -15px;
}

.round {
  border-radius: 18px;
}

.subtitle {
  font-weight: 600;
}

button,
a {
  font-weight: 800;
}

.logo-small {
  width: 25%;
}

.bg-image {
  background: url("../assets/ritsu_background.png") center center no-repeat;
  width: 100%;
  background-size: cover;
}

.margin {
  margin-left: 100px;
}
