body {
  background-color: #ff1f5e;
}

.color {
  color: #3d3d3d !important;
}

.ins {
  border-radius: 20px;
}

.bg-image {
  background: url("../assets/ritsu_background.png") center center no-repeat;
  width: 100%;
  background-size: cover;
}
